<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <form class="form-horizontal"  >
            <div class="card-header card-header-text" data-background-color="rose">
              <h4 class="card-title">Producto</h4>
            </div>
            <div class="card-content">
              <div class="row">
                <label class="col-sm-2 label-on-left">Nombre</label>
                <div class="col-sm-10">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" name="Nombre" #Nombre="ngModel" [(ngModel)]="serviceProducto.productoSelected.Nombre" ) value>
                    <span class="help-block">Nombre del producto</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 label-on-left">Descripcion</label>
                <div class="col-sm-10">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" name="Descripcion" #Descripcion="ngModel" [(ngModel)]="serviceProducto.productoSelected.Descripcion" value>
                    <span class="help-block">Descripción del producto</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 label-on-left">Precio</label>
                <div class="col-sm-10">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" name="Precio" #Precio="ngModel" [(ngModel)]="serviceProducto.productoSelected.Precio" value>
                    <span class="help-block">Precio del producto</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 label-on-left">Disponible</label>
                <div class="col-sm-10 checkbox-radios">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="DisponibleVenta" #DisponibleVenta="ngModel" [(ngModel)]="serviceProducto.productoSelected.DisponibleVenta" > Disponibilidad
                    </label>
                  </div>

                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 label-on-left">Tipo</label>
                <div class="col-sm-10">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" value name="TipoProducto" #TipoProducto="ngModel" [(ngModel)]="serviceProducto.productoSelected.TipoProducto">
                    <span class="help-block">Tipo de producto</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col-sm-4" style="margin-left: 45%;">
                  <legend>Avatar</legend>
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail img-circle">
                      <img src="../../assets/img/placeholder.jpg" alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                    <div>
                                <span class="btn btn-round btn-rose btn-file">
                                    <span class="fileinput-new">Add Photo</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="..." />
                                </span>
                      <br />
                      <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action" style="margin-left: 81%;">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
    </div>


  </div>
</div>
