<div class="main-content">
  <div class="container-fluid">
    <div class="container">
      <a href="/productos-form" class="waves-effect waves-light btn"><i class="material-icons left">add</i> Agregar</a>
    </div>
    <br>
    <br>
    <table class="table">
      <thead>
        <th></th>
        <th>Id </th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Disponible</th>
        <th>Precio</th>
        <th>Tipo</th>
        <th>Acciones</th>
      </thead>
      <tbody >
        <tr *ngFor="let producto of serviceProducto.productos">
          <td>{{producto.Imagen}}</td>
          <td>{{producto.IdUnidad}}</td>
          <td>{{producto.Nombre}}</td>
          <td>{{producto.Descripcion}}</td>
          <td>{{producto.DisponibleVenta}}</td>
          <td>{{producto.Precio}}</td>
          <td>{{producto.TipoProducto}}</td>
          <td>
            <i class="material-icons">create</i>
            <i class="material-icons">delete</i>
          </td>
        </tr>

      </tbody>


    </table>
  </div>
</div>
